<div class="card col-3 m-3 shadow-unicorn edit-post-form" style="width: 18rem;">
  <div class="card-body d-flex justify-content-around flex-column edit-post-form">
    <h5 class="card-title text-center" id= "post_title">{{title}}</h5>
    <p class="card-text" id= "post_content">{{content}}</p>
    <p class="card-text" id= "user_comment">{{comment}}</p>
    <button type="button" class="btn btn-success">Edit Post</button>
  </div>
</div>

<script src="/js/make-post.js"></script>
<script src="/js/edit-post.js"></script>