<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <!-- reset css file -->
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tech Blog</title>
  </head>

  <body>

    {{{body}}}

  <footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    </div>
  </footer>
    <!-- only jquery slim if not loding other jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script> 
    <!--  --><script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- bootsrtap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- reg jquery -->

    <script src="/js/background.js"></script>
    
  </body>

</html>