
<div>
{{> navbar}}
    <form class="submit-post">
      <div class="row mb-3">
        <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Title</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm ctitle" id="colFormLabelSm" placeholder="Add Title">
          </div>
      </div>
  <div class="row">
      <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Content</label>
        <div class="col-sm-10">
        <input type="text" class="form-control form-control-lg content" id="colFormLabelLg" placeholder="Add Content">
        </div>
   </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </form>
  {{#each posts as |post| }}
  {{> posted-items}}
  {{/each}}

 
  </div>
  <script src="/js/make-post.js"></script>
  <script src="/js/edit-post.js"></script>
