<p>New Post</p>


// This page will have a form area
// Title and content area needed for user to make a Post
// ON submit we will listen for the click button. Once clicked the javascript file will run a fetch
to post the form. The POST: will hit /api/newpost. Create a backend api/newpost route to save it to the database.

// sign up page and login page